.blog{
    background-color: white;
    width: 96%;
    border-radius: 8px;
    padding: 10px 15px;
    box-shadow: 3px 4px 3px #888;
    text-align: left;
}

.blog_title{
    font-size: 24px;
    font-weight: 600;
}

.blog_msg{
    padding-top: 8px;
    padding-bottom: 20px;
    border: 1px solid gray;
    margin-bottom: 20px;
}

.blog_content{
    padding: 10px;
}


/* 评论区 */
.send_comments{
    background-color: #d1c2d3;
    width: 96%;
    border-radius: 8px;
    padding: 10px 15px;
    box-shadow: 3px 4px 3px #888;
    text-align: left;
    margin-top: 50px;
}

.send_comments input {
    width: 300px;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.send_comments textarea{
    width: 90%;
    height: 100px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 5px;
    
}

.send_comments button{
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}


.send_comments button:hover{
    background-color: #adadad;
    
}

.code-container{
    display: flex;
    align-items: center;
}

.code-container > .captcha{
    
    border: 1px solid black;
    display: inline-block;
    width: 100px;
    height: 34px;
    margin-left: 10px;
    border-radius: 5px;
}

.blog_comments  a:hover{
    cursor: pointer;
}